<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" [(ngModel)]="searchedTags" (keyup.enter)="onSearchAction()"
         [ngModelOptions]="{standalone: true}" placeholder="Search" aria-label="Search">
      <input class="btn btn-secondary my-2 my-sm-0" (click)="onSearchAction()" type="button" value="Search">
    </form>
  </div>
</nav>
